/*stylesheet*/

body {
	margin: 0;	
	background: #222222;
}

p {
	font-family: "Times New Roman", Times, serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

#masthead {
	background-color: white;
}

#nav {
}

#logo {
	padding: .7em 0;
	display: flex;
	align-items: center;
	justify-content: center;

}

#logo a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

#logo svg {
}

.navmenu {
	margin-top: -30px;
	margin-bottom: 5px;
	text-align: center;
	padding: 0;
}

.navmenu a{
	color: #888888;
	transition: all .3s ease-in-out;
	text-decoration: none;
	font-family: 'Righteous', cursive;
	font-size: 27px;
	text-decoration: none;
	list-style-type: none;
	margin: 0px 75px;
	display: inline-block;
}

.navmenu a:hover {
	color: #cccccc;
	text-decoration: none;
	list-style-type: none;
}

.navmenu li {
	transition: all .3s ease-in-out;
	text-decoration: none;
	font-family: 'Righteous', cursive;
	font-size: 27px;
	text-decoration: none;
	list-style-type: none;
}

.navmenu li:hover {
	color: #cccccc;
	text-decoration: none;
	list-style-type: none;
}

.modal p {
	width: 45em;
	font-size: 20px;
	margin-bottom: 2em;
	padding-bottom: 20px;
	text-align: center;
}

#myBtn {
	cursor: pointer;
}

.modal {
	display: none;
	overflow: auto;
	position: fixed;
	justify-content: center;
	z-index: 1;
	padding-top: 100px;
	left: 150px;
	top: 150px;
	width: 80%;
	height: 60%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	color: white;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;  
	border-radius: 6px 6px 6px 6px;
}

.modal-content {
	margin: auto;
	text-align: center;
	text-decoration: none;
	top: 0em;
	width: 100%;
}

.modal-content img {
	height: 285px;
	height: 285px;
	margin-top: -50px;
	margin-bottom: 10px;
	padding: 1px;
	background-color: white;
}

.modal-content p {
	margin: auto;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0em;
	width: 80%;
 }

.close {
	margin-top: -65px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	color: #888888;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: all .3s ease-in-out;
}

.close:hover,
.close:focus {
	color: #cccccc;
	text-decoration: none;
	cursor: pointer;
}

#background {
	background-color: #cccccc;
	margin: 0 auto;
	max-width: 1220px;
}

#container {
	padding-top: 5em;
	padding-bottom: 2em;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

#six {
	display: block;
}

#six svg {
	margin-bottom: -3.9em;
}

#second {
	margin-top: -33.9em;
}

.first {
	margin-bottom: 0;
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 2em;
}

.second {
	margin-bottom: 0;
	float: right;
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 2em;
}

.third {
	margin-bottom: 0;
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 2em;
	text-align: right;
}

/*.pic1 {
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 1.5em;
	margin: 0em;
}

.pic1sub {
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 1em;
	margin: 0em;
}

.pic2 {
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 1.5em;
	margin: 0em;
	text-align: right;
}

.pic2sub {
	font-family: 'Righteous', cursive;
	color: #222222;
	font-size: 1em;
	margin: 0em;
	text-align: right;
}

#king img {
	width: 140%;
}

#buddy, #king {
	display: inline-block;
}


#buddy, #king, #keys1, #beauty {
	padding-left: 2em;
}

#keys1, #beauty {
	display: inline-block;
}

#keys1 img {
	width: 60%;
}

#beauty img {
	width: 55%;
}*/

#third {
	margin-top: -39.6em;
}

#first {
	font-family: 'Righteous', cursive;
	color: #222222;
}

#Scroll {
	font-family: "Times New Roman", Times, serif;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 50px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	transition: all .3s ease-in-out;
}

#Scroll:hover {
	background-color: #888888;
}

@media (min-width: 320px) {
	.close {
		margin-right: 40px;
	}
}

	.modal {
		left: 10%;
	}

@media (max-width: 480px) {
	/*#container svg {
		display: none !important;
	}*/

	.modal {
		left: 0px;
		width: 100%;
	}

	.close {
		margin-right: 20px;
	}

}